node_modules
dist
tsconfig.tsbuildinfo
.env
.idea
.vscode/
.devcontainer/
**/**/coverage/
**/**/.nyc_output/
.DS_Store
test-results.*.xml
.standalone

# Downloaded by `npm run conformity:fetch-spec`
openrpc_exec_apis.json
tests/server/acceptance/data/conformity/execution-apis/
