name: Acceptance Tests

on:
  pull_request:
    branches: [main, release/**]
  push:
    branches: [main, release/**]
    tags: [v*]

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

jobs:
  acceptance_tests:
    name: ${{ matrix.test.name }}
    strategy:
      fail-fast: false
      max-parallel: 6
      matrix:
        test:
          - { name: 'API Batch 1', testfilter: 'api_batch1' }
          - { name: 'API Batch 2', testfilter: 'api_batch2' }
          - { name: 'API Batch 3', testfilter: 'api_batch3' }
          - { name: 'Debug API', testfilter: 'debug' }
          - { name: 'ERC20', testfilter: 'erc20' }
          - { name: 'Rate Limiter', testfilter: 'ratelimiter', test_ws_server: true }
          - { name: 'SendRawTransaction Extension', testfilter: 'send_raw_transaction_extension' }
          - { name: 'HBar Limiter Batch 1', testfilter: 'hbarlimiter_batch1' }
          - { name: 'HBar Limiter Batch 2', testfilter: 'hbarlimiter_batch2' }
          - { name: 'HBar Limiter Batch 3', testfilter: 'hbarlimiter_batch3' }
          - { name: 'Token Create', testfilter: 'tokencreate' }
          - { name: 'Token Management', testfilter: 'tokenmanagement' }
          - { name: 'Precompile', testfilter: 'htsprecompilev1' }
          - { name: 'Precompile Calls', testfilter: 'precompile-calls' }
          - { name: 'Websocket Batch 1', testfilter: 'ws_batch1', test_ws_server: true }
          - { name: 'Websocket Batch 2', testfilter: 'ws_batch2', test_ws_server: true }
          - { name: 'Websocket Batch 3', testfilter: 'ws_batch3', test_ws_server: true }
          - { name: 'Cache Service', testfilter: 'cache-service' }
          - { name: 'Server Config', testfilter: 'serverconfig' }
          - { name: 'Semantics and varying response status', testfilter: 'json_rpc_compliance' }
          - name: "Semantics and default OK response status"
            testfilter: "json_rpc_compliance"
            valid_json_rpc_http_requests_status_code: true
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: ${{ matrix.test.testfilter }}
      test_ws_server: ${{ matrix.test.test_ws_server || false }}
      valid_json_rpc_http_requests_status_code: ${{ matrix.test.valid_json_rpc_http_requests_status_code || false }}
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  publish_results:
    name: Publish Results
    if: ${{ !cancelled() }}
    needs: [acceptance_tests]
    runs-on: hiero-smart-contracts-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@f4a75cfd619ee5ce8d5b864b0d183aff3c69b55a # v2.13.1
        with:
          egress-policy: audit

      - name: Download Test Reports
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: Test Results (*)
          merge-multiple: true

      - name: Publish Test Report
        uses: step-security/publish-unit-test-result-action@c8537a200a435e2560109a6a8ed9cac838b62656 # v2.20.5
        with:
          check_name: '' # Set to empty to disable check run
          json_thousands_separator: ','
          files: 'test-*.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}
