name: Reusable acceptance tests workflow

on:
  workflow_call:
    inputs:
      testfilter:
        required: true
        type: string
      test_ws_server:
        required: false
        default: false
        type: boolean
      envfile:
        required: false
        default: localAcceptance.env
        type: string
      operator_id:
        required: false
        type: string
      networkTag:
        required: false
        type: string
      mirrorTag:
        required: false
        type: string
      relayTag:
        required: false
        type: string
    secrets:
      operator_key:
        description: 'The ED25519, ECDSA, or DER encoded private key of the operator'
        required: false
      CODECOV_TOKEN:
        description: 'Codecov upload token'
        required: true

permissions:
  contents: read

jobs:
  acceptance-workflow:
    runs-on: hiero-smart-contracts-linux-large
    timeout-minutes: 50
    permissions:
      contents: read
      checks: write
    steps:
      - name: Set env variables
        run: |
          if [ -n "${{ inputs.operator_id }}" ]; then
            echo "OPERATOR_ID_MAIN=${{ inputs.operator_id }}" >> $GITHUB_ENV
          fi
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22

      - name: Install make
        run: sudo apt-get update; sudo apt-get install build-essential -y

      - name: Checkout repo
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0

      - name: Install packages
        run: npm ci

      - name: Create .env file
        run: cp ./packages/server/tests/${{ inputs.envfile }} .env

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Build Typescript
        run: npx lerna run build

      - name: Install hedera local
        run: npm install @hashgraph/hedera-local -g

      - name: Run hedera local
        run: npx hedera restart -d --verbose=trace --network-tag=${{ inputs.networkTag }} --mirror-tag=${{ inputs.mirrorTag }}

      - name: Stop relay
        run: docker stop json-rpc-relay json-rpc-relay-ws

      - name: Run acceptance tests
        run: |
            if [[ -n "$OPERATOR_KEY" ]] && [[ "$OPERATOR_KEY" != "" ]]; then
              echo "Overriding OPERATOR_KEY_MAIN with the secret value"
              export OPERATOR_KEY_MAIN="$OPERATOR_KEY"
            fi
            npm run acceptancetest:${{ inputs.testfilter }}
        env:
          TEST_WS_SERVER: ${{ inputs.test_ws_server }}
          SUBSCRIPTIONS_ENABLED: ${{ inputs.test_ws_server }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_PR_NUMBER: ${{ github.event.number }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          OPERATOR_KEY: ${{ secrets.operator_key }}

      - name: Upload Heap Snapshots
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: Heap Snapshots
          path: '**/*.heapsnapshot'
          if-no-files-found: ignore

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: Test Results (${{ inputs.testfilter }})
          path: test-*.xml

      - name: Upload coverage report
        if: ${{ !cancelled() && always() }}
        run: bash .github/scripts/codecov-upload.sh
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Publish Test Report
        uses: step-security/publish-unit-test-result-action@914f0f642c242f38335a491805adfc9bd64b1cbb # v2.21.1
        if: ${{ !cancelled() }}
        with:
          check_name: '' # Set to empty to disable check run
          comment_mode: off
          json_thousands_separator: ','
          files: 'test-*.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}
