name: Acceptance Tests on Public Network

on:
  workflow_dispatch:
    inputs:
      operator_id:
        description: 'The Account ID of the operator'
        required: true
        type: string
      operator_key:
        description: 'The ED25519 or ECDSA  DER encoded private key of the operator'
        required: true
        type: string
      network:
        description: 'The public network to run the tests against'
        required: true
        type: choice
        options:
          - mainnet
          - testnet
          - previewnet

jobs:
  release-tests:
    name: Release Tests
    uses: ./.github/workflows/acceptance-workflow.yml
    with:
      testfilter: release_light
      envfile: ${{ inputs.network }}Acceptance.env
      operator_id: ${{ inputs.operator_id }}
    secrets:
      operator_key: ${{ inputs.operator_key }}
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  publish_results:
    name: Publish Results
    if: ${{ !cancelled() }}
    needs:
      - release-tests
    runs-on: hiero-smart-contracts-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - name: Download Test Reports
        uses: actions/download-artifact@018cc2cf5baa6db3ef3c5f8a56943fffe632ef53 # v6.0.0
        with:
          pattern: Test Results (*)
          merge-multiple: true

      - name: Publish Test Report
        uses: step-security/publish-unit-test-result-action@914f0f642c242f38335a491805adfc9bd64b1cbb # v2.21.1
        with:
          check_name: Test Results
          json_thousands_separator: ','
          files: 'test-*.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}
