name: Reusable acceptance tests workflow

on:
  workflow_call:
    inputs:
      testfilter:
        required: true
        type: string
      test_ws_server:
        required: false
        default: false
        type: boolean
      on_valid_json_rpc_http_response_status_code:
        required: false
        default: 400
        type: number
      envfile:
        required: false
        default: localAcceptance.env
        type: string
      operator_id:
        required: false
        type: string
      networkTag:
        required: false
        type: string
      mirrorTag:
        required: false
        type: string
      relayTag:
        required: false
        type: string
    secrets:
      operator_key:
        description: 'The ED25519, ECDSA, or DER encoded private key of the operator'
        required: false
      CODECOV_TOKEN:
        description: 'Codecov upload token'
        required: true

permissions:
  contents: read

jobs:
  acceptance-workflow:
    runs-on: hiero-smart-contracts-linux-large
    timeout-minutes: 50
    permissions:
      contents: read
      checks: write
    steps:
      - name: Set env variables
        run: |
          if [ -n "${{ inputs.operator_id }}" ]; then
            echo "OPERATOR_ID_MAIN=${{ inputs.operator_id }}" >> $GITHUB_ENV
          fi
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout Code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22

      - name: Install make
        run: sudo apt-get update; sudo apt-get install build-essential -y

      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install packages
        run: npm ci

      - name: Create .env file
        run: cp ./packages/server/tests/${{ inputs.envfile }} .env

      - name: Build Typescript
        run: npx lerna run build

      - name: Install hedera local
        run: npm install @hashgraph/hedera-local -g

      - name: Run hedera local
        run: npx hedera restart -d --verbose=trace --network-tag=${{ inputs.networkTag }} --mirror-tag=${{ inputs.mirrorTag }}

      - name: Stop relay
        run: docker stop json-rpc-relay json-rpc-relay-ws

      - name: Run acceptance tests
        run: |
            if [[ -n "$OPERATOR_KEY" ]] && [[ "$OPERATOR_KEY" != "" ]]; then
              echo "Overriding OPERATOR_KEY_MAIN with the secret value"
              export OPERATOR_KEY_MAIN="$OPERATOR_KEY"
            fi
            npm run acceptancetest:${{ inputs.testfilter }}
        env:
          TEST_WS_SERVER: ${{ inputs.test_ws_server }}
          SUBSCRIPTIONS_ENABLED: ${{ inputs.test_ws_server }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GITHUB_PR_NUMBER: ${{ github.event.number }}
          GITHUB_REPOSITORY: ${{ github.repository }}
          OPERATOR_KEY: ${{ secrets.operator_key }}
          ON_VALID_JSON_RPC_HTTP_RESPONSE_STATUS_CODE: "${{ inputs.on_valid_json_rpc_http_response_status_code }}"

      - name: Upload Heap Snapshots
        if: ${{ !cancelled() }}
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Heap Snapshots
          path: '**/*.heapsnapshot'
          if-no-files-found: ignore

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Test Results (${{ inputs.testfilter }}) ${{ inputs.on_valid_json_rpc_http_response_status_code}}
          path: test-*.xml

      - name: Upload coverage report
        if: ${{ !cancelled() && always() }}
        run: bash .github/scripts/codecov-upload.sh
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

      - name: Publish Test Report
        uses: step-security/publish-unit-test-result-action@7dff603bf17ef13dee847147bef8d7cd1728b566 # v2.22.0
        if: ${{ !cancelled() }}
        with:
          check_name: '' # Set to empty to disable check run
          comment_mode: off
          json_thousands_separator: ','
          files: 'test-*.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}
