name: Reusable dev tool workflow

on:
  workflow_call:
    inputs:
      command:
        required: true
        type: string
      directory:
        required: true
        type: string

permissions:
  contents: read

jobs:
  dev-tool-workflow:
    runs-on: hiero-smart-contracts-linux-medium
    permissions:
      contents: write
      actions: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@20cf305ff2072d973412fa9b1e3a4f227bda3c76 # v2.14.0
        with:
          egress-policy: audit

      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y make gcc g++

      - name: Setup node
        uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6.1.0
        with:
          node-version: 22

      - name: Checkout repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1

      - name: Install go
        uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
        with:
          go-version: "1.24.0"

      - name: Install packages
        run: npm ci

      - name: Create .env file
        run: |
          cp ${{ inputs.directory }}/.env.example ${{ inputs.directory }}/.env
          cp ./packages/server/tests/localAcceptance.env .env

      - name: Install pnpm
        run: npm install -g pnpm

      - name: Build Typescript
        run: npx lerna run build

      - name: Start the hedera local node
        run: npx hedera start -d

      - name: Stop the local node's relay
        run: docker stop json-rpc-relay

      - name: Start the local relay
        run: npm run start &

      - name: Install dependencies
        run: cd ${{ inputs.directory }}/ && npm ci

      - name: Run the tests
        run: ${{ inputs.command }}
