name: Reusable dev tool workflow

on:
  workflow_call:
    inputs:
      command:
        required: true
        type: string
      directory:
        required: true
        type: string

permissions:
  contents: read

jobs:
  dev-tool-workflow:
    runs-on: hiero-smart-contracts-linux-medium
    permissions:
      contents: write
      actions: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Install build tools
        run: sudo apt-get update && sudo apt-get install -y make gcc g++

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22

      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: "1.24.0"

      - name: Install packages
        run: npm ci

      - name: Create .env file
        run: |
          cp ${{ inputs.directory }}/.env.example ${{ inputs.directory }}/.env
          cp ./packages/server/tests/localAcceptance.env .env

      - name: Build Typescript
        run: npx lerna run build

      - name: Start the hedera local node
        run: npx hedera start -d

      - name: Stop the local node's relay
        run: docker stop json-rpc-relay

      - name: Start the local relay
        run: npm run start &

      - name: Install dependencies
        run: cd ${{ inputs.directory }}/ && npm ci

      - name: Run the tests
        run: ${{ inputs.command }}
