name: Foundry tool test

on: workflow_dispatch

env:
  FOUNDRY_PROFILE: ci

jobs:
  check:
    defaults:
      run:
        working-directory: ./tools/foundry-example/
    strategy:
      fail-fast: true

    name: Foundry project
    runs-on: hiero-smart-contracts-linux-medium
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@df199fb7be9f65074067a9eb93f12bb4c5547cf2 # v2.13.3
        with:
          egress-policy: audit

      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          submodules: recursive

      - name: Install Foundry
        uses: step-security/foundry-toolchain@b3c15ce3e2e69928bd4ea48ecd830fe3b9550fd5 # v1.5.0
        with:
          version: nightly

      - name: Run Forge build
        run: |
          forge --version
          forge build --sizes
        id: build

      - name: Run Forge tests
        run: |
          forge test -vvv
        id: test
