# SPDX-License-Identifier: Apache-2.0

name: GitHub Pages Sync
on:
  workflow_dispatch:
  schedule:
    - cron: "0 * * * *"

defaults:
  run:
    shell: bash

permissions:
  contents: read

jobs:
  sync:
    name: Sync Pages
    runs-on: hiero-smart-contracts-linux-medium

    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          repository: "hashgraph/hedera-json-rpc-relay"
          ref: gh-pages
          fetch-depth: "0"
          token: ${{ secrets.GH_ACCESS_TOKEN_HG }}

      - name: Import GPG Key
        id: gpg_importer
        uses: step-security/ghaction-import-gpg@69c854a83c7f79463f8bdf46772ab09826c560cd # v6.3.1
        with:
          git_commit_gpgsign: true
          git_committer_email: ${{ vars.GIT_USER_EMAIL }}
          git_committer_name: ${{ vars.GIT_USER_NAME }}
          git_tag_gpgsign: true
          git_user_signingkey: true
          gpg_private_key: ${{ secrets.GPG_KEY_CONTENTS }}
          passphrase: ${{ secrets.GPG_KEY_PASSPHRASE }}

      - name: Add Remote
        run: git remote add HIERO https://github.com/hiero-ledger/hiero-json-rpc-relay.git

      - name: Get the latest from HIERO
        run: git fetch HIERO

      - name: Sync gh-pages locally
        run: git rebase --merge HIERO/gh-pages

      - name: Push updates
        run: git push --force --set-upstream origin gh-pages
