# Do not use! WIP: Release Acceptance Test Workflow
name: Release Acceptance Test Workflow

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'Branch to run on'
        required: true
        default: '2037-release-acceptance-test-workflow'
      tag:
        description: 'Tag to use'
        required: true
        default: 'v0.40.0'    

permissions:
  contents: read
  
jobs:
  release-acceptance-test:
    runs-on: hiero-smart-contracts-linux-medium
    permissions:
      contents: read
      actions: read
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Authenticate
        env:
          HEDERA_PORTAL_USER: ${{ secrets.HEDERA_PORTAL_USER }}
          HEDERA_PORTAL_PASSWORD: ${{ secrets.HEDERA_PORTAL_PASSWORD }}
        run: |
          RESPONSE=$(jq --null-input -r --arg USER "${HEDERA_PORTAL_USER}" --arg PASS "${HEDERA_PORTAL_PASSWORD}" '{"email": $USER, "password": $PASS}' | curl -sSL -c /tmp/cookiejar.bin --data @- -X POST -H "Accept: application/json" -H "Content-Type: application/json" https://portal.hedera.com/api/session)
          echo "::add-mask::$RESPONSE"
          echo "The response was: $RESPONSE"
          ACCOUNTS_JSON="$(curl -sSL -b /tmp/cookiejar.bin -H "Accept: application/json" https://portal.hedera.com/api/account)"
          echo "::add-mask::$ACCOUNTS_JSON"
          TESTNET_ACCOUNT=$(echo $ACCOUNTS_JSON | jq -r '.accounts[] | select(.network=="testnet") | .accountNum')
          echo "The testnet account is: $TESTNET_ACCOUNT"
          PUBLIC_KEY=$(echo $ACCOUNTS_JSON | jq -r '.accounts[] | select(.network=="testnet") | .publicKey')
          echo "The publicKey is: $PUBLIC_KEY"
          PRIVATE_KEY=$(echo $ACCOUNTS_JSON | jq -r '.accounts[] | select(.network=="testnet") | .privateKey')
          echo "::add-mask::$PRIVATE_KEY"
          echo "The privateKey is: $PRIVATE_KEY"
          echo "OPERATOR_ID_MAIN=0.0.${TESTNET_ACCOUNT}" >> $GITHUB_ENV
          echo "OPERATOR_KEY_MAIN=${PRIVATE_KEY}" >> $GITHUB_ENV

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
         node-version: 22
    
      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install make
        run: sudo apt-get update; sudo apt-get install build-essential -y
    
      - name: Install packages
        run: npm ci
    
      - name: Create .env file
        run: cp ./packages/server/tests/testnetAcceptance.env .env    

      - name: Build Typescript
        run: npx lerna run build

      - name: Install hedera local
        run: npm install @hashgraph/hedera-local -g        

      - name: Run acceptance tests
        run: npm run acceptancetest:release

      - name: Run hedera local
        run: hedera restart -d
  
      - name: Stop  relay
        run: docker stop json-rpc-relay json-rpc-relay-ws

      - name: Upload Test Results
        if: always()
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: Test Results
          path: test-*.xml

      - name: Publish Test Report
        uses: step-security/publish-unit-test-result-action@7dff603bf17ef13dee847147bef8d7cd1728b566 # v2.22.0
        if: ${{ !cancelled() }}
        with:
          check_name: '' # Set to empty to disable check run
          comment_mode: off
          json_thousands_separator: ','
          files: 'test-*.xml'
          github_token: ${{ secrets.GITHUB_TOKEN }}
