name: Subgraph Tests

on:
  pull_request:
    branches: [main, release/**]
  push:
    branches: [main, release/**]
    tags: [v*]

concurrency:
  group: pr-checks-${{ github.workflow }}-${{ github.head_ref || github.run_id }}
  cancel-in-progress: true

permissions:
  contents: read

jobs:
  subgraph-workflow:
    runs-on: hiero-smart-contracts-linux-medium
    permissions:
      contents: write
    defaults:
      run:
        working-directory: ./tools/subgraph-example/
    steps:
      - name: Harden Runner
        uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
        with:
          egress-policy: audit

      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
        with:
          node-version: 22

      - name: Checkout repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2

      - name: Install dependencies
        run: npm ci

      - name: Create .env file
        run: cp .env.example .env

      - name: Run local node
        run: npx hedera start -d
        timeout-minutes: 5

      - name: Compile contracts
        run: npx hardhat compile

      - name: Deploy and interact with contracts
        run: npx hardhat prepare

      - name: Generate types
        run: npm run graph-codegen

      - name: Start local graph-node
        env:
          IPFS_PROFILE: test
        run: npm run graph-local -- --detach

      - name: Sleep for 20 seconds
        run: sleep 20s
        shell: bash

      - name: Create subgraph
        run: npm run create-local

      - name: Deploy subgraph
        run: npm run deploy-local -- --network local --version-label 0.0.1

      - name: Sleep for 10 seconds (allow time to index past events following new sub-graph deployment)
        run: sleep 10s
        shell: bash

      - name: Run the tests
        run: npx hardhat test
